body {
	text-align: center;
	font-family: "Roboto";
	background-color: #f5f5f5;
	display: block;
}

input[type='text'] {
	font-size: 18px;
	text-align: center;
	width: 70px;
	height: 70px;
	margin: 2px;
	display: inline-table;
}

span {
	color: red;
}

.jumbotron {
	background-color: #2196f3;
	color: #fff;
	margin-bottom: 0;
}

.header {
	margin-top: 20px;
}

.footer {
	background: #f5f5f5;
	color: #515151;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content {
	background: #fff;
	color: black;
	padding: 30px 50px 50px;
}

.go {
	margin-top: 10px;
}

#hasil2 {
	display: none;
}

#hasil3 {
	display: none;
}